version: '3'
services:
  db:
    image: postgres:13-alpine
    environment:
      POSTGRES_PASSWORD: postgres
    ports:
      - '15432:5432'
  web:
    build: .
    environment:
      - DB_ENV_POSTGRES_HOST=db
    command: mix phx.server
    volumes:
      - .:/myapp
    ports:
      - "3000:3000"
    depends_on:
      - db
